<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="<%=link1%>">
    <link rel="stylesheet" href="<%=link2%>">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/masonry/">
    <link rel="stylesheet" href="/css/additional.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-objects-column"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/createAccount">CreateAccount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Premium</a>
                    </li>
                </ul>
                <div style="display: flex; gap: 1rem;">
                    <form action="/dashboard" method="get">
                        <button onclick="gotodashboard()" class="btn btn-dark">Go to Dashboard</button>
                    </form>
                    <a href="/signin" class="btn btn-outline-dark">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Colidea <i class="fa-solid fa-objects-column"></i>
        </h1>
        <hr>
        <br>
        <div class="col-lg-9 mx-auto" style="text-align: justify;">
            <p class="mb-4" style="line-height: 30px;">Colidea is a dynamic platform created by a college student,
                exclusively for students. It's a space dedicated to writing and sharing insightful blogs about the
                knowledge gained in the technology field. Our platform features top-rated students who passionately
                share their skills and offer valuable references to help fellow students excel.

                Join Colidea to explore a world of tech expertise, where students can voice their insights and amplify
                their impact.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/createAccount" class="btn btn-dark px-4 gap-3">Create Account</a>
                <a href="https://www.linkedin.com/in/harshalwarade/" class="btn btn-outline-secondary px-4">About Developer <i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5">
        <!-- <h2 class="pb-2 border-bottom">Lorem, ipsum dolor.</h2> -->

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">Why should I use Colidea?</h2>
                <p class="text-body-secondary">There's really no reason for you, as an engineering student, not to give
                    it a try. Just go ahead, explore, and experience the capabilities of this site firsthand.</p>
                <a href="/following-blogs" class="btn btn-dark btn-lg">Read Blogs</a>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4">
                            <svg class="bi" width="1em" height="1em">
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Connect with people <i class="fa-solid fa-users-medical"></i></h4>
                        <p class="text-body-secondary" style="text-align: justify;">Connect with individuals from
                            various institutes without any limitations.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Explore talent <i class="fa-duotone fa-stars"></i></h4>
                        <p class="text-body-secondary" style="text-align: justify;">Feel free to explore various
                            trending skills that you might be familiar with, and take the opportunity to read up on
                            them.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#speedometer"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Share skills <i class="fa-regular fa-users-rays"></i></h4>
                        <p class="text-body-secondary" style="text-align: justify;">While we can't physically shake
                            hands online, we can definitely exchange knowledge and skills.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#table"></use>
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Be a star <i class="fa-solid fa-sparkles"></i></h4>
                        <p class="text-body-secondary" style="text-align: justify;">Build huge netwrok with lots of
                            followers to get a verified badge.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <main class="container py-5">
        <h1>Some blogs</h1>

        <hr class="my-5">

        <div class="row" data-masonry="{&quot;percentPosition&quot;: true }"
            style="position: relative; height: 1851.8px;">
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                <div class="card">
                    <img src="https://images.prismic.io/loco-blogs/79328284-f97b-489f-924c-eb3b17e34b56_image2.png?auto=compress%2Cformat&rect=0%2C0%2C1999%2C1124&w=1920&h=1080&ar=1.91%3A1"
                        class="bd-placeholder-img card-img-top" width="100%" height="200" focusable="false">
                    </img>
                    <div class="card-body">
                        <h5 class="card-title">Is it worth investing time in learning the MERN Stack?</h5>
                        <hr>
                        <p class="card-text" style="text-align: justify;">Certainly, embracing the MERN Stack is a
                            powerful choice. It unites MongoDB, Express.js, React, and Node.js, forming a versatile
                            foundation for modern web development. Proficiency in MERN can amplify your skills,
                            employability, and potential to create dynamic digital experiences.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 361.6px;">
                <div class="card p-3">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <p>Looks like I've learned about preparing for theory subjects from here 🙂</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-body-secondary">
                            Anonymous User
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 532.2px;">
                <div class="card">
                    <img src="https://imageio.forbes.com/specials-images/dam/imageserve/966248982/960x0.jpg?height=456&width=711&fit=bounds"
                        class="bd-placeholder-img card-img-top" width="100%" height="200" focusable="false">
                    <div class="card-body">
                        <h5 class="card-title">Thoughts on roadmap for understanding ML</h5>
                        <hr>
                        <p class="card-text">
                            Begin your machine learning journey:
                        <ul>

                            <li>Grasp fundamentals of Python and math.</li>
                            <li>Learn about data handling and preprocessing.</li>
                            <li>Master key ML algorithms like regression, classification,clustering.</li>
                            <li>Dive into deep learning and neural networks.</li>
                            <li>Practice on projects and competitions. </li>
                        </ul>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 909.8px;">
                <div class="card text-bg-dark text-center p-3">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p>Welcome to Colidea | Hope you learn something great here.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-white">
                            Developer <cite title="Source Title">Harshal Warade (@hdwarade) <i class="fa-solid fa-badge-check" style="color: rgb(96, 165, 250);"></i> </cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1048.4px;">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Can I get subject notes from here?</h5>
                        <p class="card-text">Sure, this website is meant for college students to improve both programming skills and academics.</p>
                        <p class="card-text"><small class="text-body-secondary">One of the FAQs</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1226px;">
                <div class="card">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20220602132441/CompleteRoadmaptolearnDataStructureandAlgorithms-660x330.png" class="bd-placeholder-img card-img" width="100%" height="260" focusable="false">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1511.6px;">
                <div class="card p-3 text-end">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p>"Words are our most inexhaustible source of magic. Explore, express, and share your world through the art of blogging."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-dark">
                            Developer <cite title="Source Title">Harshal Warade (@hdwarade) <i class="fa-solid fa-badge-check" style="color: rgb(96, 165, 250);"></i> </cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1650.2px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Choosing Your First Language</h5>
                        <hr>
                        <p class="card-text">With so many programming languages out there, how do you choose the right one to start with? Just start with C++. Nothing else 😊</p>
                        <p class="card-text"><small class="text-body-secondary"><a href="/detailed-view/64db211d004016a7248e2187" style="text-decoration: none;">@jay_gite</a></small></p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
            <!-- <div class="row"> -->
                <div>
                    <a class="d-inline-flex gap-2 align-items-center mb-2 text-body-emphasis text-decoration-none"
                        href="/" aria-label="Bootstrap">
                        <i class="fa-solid fa-objects-column"></i>
                        <span class="fs-5">Colidea</span>
                    </a>
                    <ul class="list-unstyled small">
                        <li class="mb-2">Designed and built with all the love in the world by the <a href="/">Colidea
                                team</a> with the help of <a href="https://www.linkedin.com/in/harshalwarade/">our
                                developer</a>.
                        </li>
                    </ul>
                </div>
            <!-- </div> -->
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
        crossorigin="anonymous"></script>

    <script>
        function gotodashboard() {
            window.location.href = '/dashboard';
        }
    </script>
</body>

</html>